--- 
layout: default 
title: welcome to 
tagline: In my hands I held the Sword of Faith.
--- 
{% include JB/setup %}
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="blog-post">
					{% for post in paginator.posts %}
			
					<div class="post-item">
						{% if post.image %}
							<div class="post-media">
							<a href="#"><img title="{{ post.image.title }}" src="{{ post.image.url }}" class="img-full"></a>
						</div>
						{% endif %}
						
						<div class="caption wrapper-lg">
							<h2 class="post-title">
								<a href="{{ post.url }}">{{ post.title }}</a>
							</h2>
							{% if post.description %}
							<div class="post-sum">
								{{ post.content | split:'<!--more-->' | first }}
							</div>
							{% endif %}
							<div class="line line-lg">
							</div>
							<div class="text-muted">
								<i class="icon-user icon-muted"></i>
								by
								{% if post.author %}
								<a href="{{ post.author.url }}" class="">{{ post.author.name }}</a>
								
								{{ post.author }}
								{% else %}
									<a class="">匿名</a>
								{% endif %}
								<i class="icon-time icon-muted"></i>
								{{ post.date | date: "%Y年%m月%-d日" }}
								<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ post.category }}-ref" class=""><i class="icon-sitemap icon-muted"></i> {{ post.category }}</a>
								
							</div>
						</div>
					</div><!--/.post-item -->

					{% endfor %}
					
				</div><!--/.blog-post -->
				<ul class="pager">
					{% if paginator.previous_page %}
						<li class="previous"><a href="{{paginator.previous_page_path}}">&larr; 上一页</a></li>
					{% else %}
						<li class="previous disabled"><a href="{{paginator.previous_page_path }}">&larr; 上一页</a></li>
					
					{% endif %}
					{% for count in (2..paginator.total_pages) %}
				      <li>
				        {% if count == paginator.page %}
				          <a class="active">{{ count }}</a>
				        {% else %}
				          <a href="/blog/page{{ count }}">{{ count }}</a>
				        {% endif %}
				      </li>
				    {% endfor %}
				    {% if paginator.next_page %}
				    	<li class="next"><a href="{{paginator.next_page_path }}">下一页 &rarr;</a></li>
					{% else %}
						<li class="next disabled"><a href="{{paginator.next_page_path }}">下一页 &rarr;</a></li>
					{% endif %}	
				  	  
				</ul>
			</div><!--/.col-sm-9 -->

			<div class="col-sm-3">
				<div class="thumb col-sm-12">
					<h5 class="font-semibold">关于我</h5>
					<div class="line line-dashed"></div>
					<section>
						<img src="{{ site.author.avatar }}" class="img-thumbnail pull-left img-xs">
						<p class="clear text-sm">{{ site.author.about }}</p>
						
					</section>
				</div>		
				<div class="thumb col-sm-12">
					<h5 class="font-semibold">关注我</h5>
					<div class="line line-dashed"></div>
					<section>
						<div>
							{% if site.author.rss %}
							<a href="{{ site.author.rss }}" target="_blank" title="RSS" class="btn btn-flat-warning btn-circle"><i class="icon-rss"></i></a>
							{% endif %}
							{% if site.author.github %}
							<a href="https://github.com/{{ site.author.github }}" target="_blank" title="Github" class="btn btn-flat-default btn-circle"><i class="icon-github"></i></a>
							{% endif %}
							{% if site.author.twitter %}
							<a href="https://twitter.com/{{ site.author.twitter }}" target="_blank" title="Twitter" class="btn btn-flat-info btn-circle"><i class="icon-twitter"></i></a>
							{% endif %}
							{% if site.author.facebook %}
							<a href="http://www.facebook.com/{{ site.author.facebook }}" target="_blank" title="Facebook" class="btn btn-flat-default btn-circle"><i class="icon-facebook"></i></a>
							{% endif %}
							{% if site.author.google_plus %}
							<a href="https://plus.google.com/{{ site.author.google_plus }}" target="_blank" title="Google+" class="btn btn-flat-primary btn-circle"><i class="icon-google-plus"></i></a>
							{% endif %}
							{% if site.author.weibo %}
							<a href="http://weibo.com/{{ site.author.weibo }}" target="_blank" title="微博" class="btn btn-flat-danger btn-circle"><i class="icon-weibo"></i></a>
							{% endif %}
						</div>
					</section>
				</div>		
				
				<div class="thumb col-sm-12">
					<h5 class="font-semibold">最近文章</h5>
					<div class="line line-dashed"></div>
					<section>
						<ul class="posts">
						  {% for post in site.posts limit:10 %}
						    <li><span>{{ post.date | date: "%Y年%m月%-d日" }}</span> &raquo; <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></li>
						  {% endfor %}
						</ul>
					</section>
				</div>		
				
				<div class="thumb col-sm-12">
					<h5 class="font-semibold">标签</h5>
					<div class="line line-dashed"></div>
					<section>
						<ul class="tags">
							{% assign tags_list = site.tags %}  
  							{% include JB/tags_list %}
						</ul>
					</section>
				</div>		
			

			</div><!--/.col-sm-3 -->
		</div>
	</div>
	
</section>
